<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Platform: Resources</title>
    <style type="text/css">
        ul li{display:inline; list-style-type:none; padding:5px;}
    </style>
    <link rel="stylesheet" href="/static/css/table.css">
</head>
<body>
    <div th:replace="~{common/header::topbar}"></div>
    <div align="center">
        <h2>Resource List</h2>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Resource name</th>
                <th>Resource unit</th>
                <th>Detail</th>
                <th>Option</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="element, state : ${page.list}">
                <th scope="row" th:text="${element.id}">No</th>
                <td th:text="${element.name}">Resource name</td>
                <td th:text="${element.unit.name}">Resource unit</td>
                <td th:text="${element.detail}">Detail</td>
                <td><a th:href="@{/resource/editResource(id=${element.id})}">Edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div align="center">
        <ul>

            <!-- First -->
            <li>
                <a th:href="'/resource/allResource?pageNum=1&pageSize=' + ${page.pageSize}">First</a>
            </li>

            <!-- Previous -->
            <li th:if="${page.hasPreviousPage}">
                <a th:href="'/resource/allResource?pageNum=' + ${page.prePage} + '&pageSize=' + ${page.pageSize}" th:text="Previous"></a>
            </li>

            <!-- Pages -->
            <li th:each="num:${#numbers.sequence(1, page.pages)}">
                <a th:href="'/resource/allResource?pageNum=' + ${num} + '&pageSize=' + ${page.pageSize}" th:text="${num}" th:if="${num ne page.pageNum}"></a>
                <a th:href="'/resource/allResource?pageNum=' + ${num} + '&pageSize=' + ${page.pageSize}" th:text="${num}" th:if="${num eq page.pageNum}" style="color:dimgrey"></a>
            </li>

            <!-- Next -->
            <li th:if="${page.hasNextPage}">
                <a th:href="'/resource/allResource?pageNum=' + ${page.nextPage}" th:text="Next"></a>
            </li>

            <!-- Last -->
            <li>
                <a th:href="'/resource/allResource?pageNum=' + ${page.pages} + '&pageSize=' + ${page.pageSize}">Last</a>
            </li>

        </ul>
        <a th:href="@{/index}">Go back to menu</a>
    </div>
</body>
</html>